<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    Template
    <form method="post">
        {% csrf_token %}
        <input type="submit" value="Parse">
    </form>
</body>
</html>
